# Environments
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
htmlcov/
.coverage
coverage.xml

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Local DB files
*.db
*.sqlite3

# Docker
docker/data/
